<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-profile></app-profile>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-posts></app-posts>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trending Post</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-trendingposts></app-trendingposts>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Feed</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-feed></app-feed>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Grupos</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-grupos></app-grupos>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chat</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-chat></app-chat>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Directorio</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-directorio></app-directorio>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Notificaciones</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-notificaciones></app-notificaciones>
                </div>
            </div>
        </div>
    </div>
</div>