<p></p>
<p></p>
<p></p>
<p></p>
<div class="container">

    <div class="card text-center card text-white bg-success mb-3">
        <div class="card-body">
            <h5 class="card-title">Worki</h5>
            <p class="card-text">Tu red Social Empresarial.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card card border-success mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-success">Profile</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-profile [employee]="employee"></app-profile>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card border-dark mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Posts</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-posts></app-posts>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card border-danger mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">Trending Post</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-trendingposts></app-trendingposts>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card border-info mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">Feed</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-feed></app-feed>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card card border-warning mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning">Grupos</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-grupos></app-grupos>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card border-primary mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Chat</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-chat></app-chat>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card border-dark mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Directorio</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-directorio></app-directorio>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card border-danger mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">Notificaciones</h5>
                    <!-- <p class="card-text">This is your profile.</p> -->
                    <app-notificaciones></app-notificaciones>
                </div>
            </div>
        </div>
    </div>
</div>